/* Paginação */
.pagination {
  display: flex;
  justify-content: center;
  background: transparent;
  margin-top: 5px;
}

.pagination a,
.pagination span {
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.pagination a:hover {
  background-color: #969696;
  color: #535353;
  border-radius: 8px;
}

.pagination .current {
  background-color: #535353;
  color: white;
  border-radius: 8px;
}

.pagination .disabled {
  color: #ffffff;
}
